NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=project_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:your_password@localhost:5432/project_db?schema=public"